ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.bio-text {
    margin-top: 100px;
}

.bio_description {
    font-size: x-large;
    color: var(--ultraviolet);

}
.softwareEngineerTxt {
    text-shadow: 2px 2px #F2E9E4;
}

.strengths ul li,
.learning ul li {
    color: var(--ultraviolet);
    font-size: large;
}