ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.bio-text {
    margin-top: 100px;
}

.bio_description {
    /* font-size: 20px; */
    font-size: x-large;
}
.softwareEngineerTxt {
    text-shadow: 2px 2px #F2E9E4;
}