
#contact-info {
    margin-top: 100px;
}

.links {
    color: var(--offwhite)

}

li {
    font-size: 25px;
}

.contact-header {
    color: var(--paledogwood)
}

.link:hover {
    color: #e8cdf6;
}
.social-icon {
    margin-right: 7px;
    margin-top: -5px;
}