
#contactForm {
    margin: 0 auto;
}

.submitContact {
    background-color: var(--offwhite) !important;
    color: var(--isabelline) !important;
    font-size: large !important;
    padding: 6px 12px;
    border-radius: 0.375em;
}
.submitContact:hover {
    background-color: var(--spacecadet) !important;
    color: var(--paledogwood) !important;
}
.form-label {
    color: var(--offwhite);
}