.footer {
    background-color: whitesmoke;
}

/* .footerUL {
    margin-left: 100px;
} */

a {
    text-decoration: none;
}

@media  (min-width: 992px ) {
    .footerUL {
        margin-left: 100px;
    }

}