/* ROOT COLORS */
:root {
    --background: #C9ADA7;
    --secondary: #F2E9E4;
    --lines: #9A8C98;
}

#main-nav {
    background-color: var(--secondary);
}
.solid-line {
   background-color: var(--lines);
}

.mainPage {
    background-color: var(--background);
}

.contactField {
    background-color: var(--secondary);
}

#footerContainer {
    background-color: var(--secondary);
}

.showProject {
    background-color: var(--secondary) !important;
}

.headers {
    color: #22223B;
}
/* Intro Styling */

#intro_container {
    margin-top: 100px;
}

.intro_text {
    font-size: 25px;
    color: white;
}
.solid-line {
    margin: 0 auto;
    margin-top: 100px;
    height: 2px;
    width: 200px;
    background: lightgray;
}


@media  (min-width: 1401px ) {
    .intro_text {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid tan; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .10em; /* Adjust as needed */
        animation: 
        typing 4s steps(40, end),
        blink-caret .75s step-end infinite;
      }
      
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: #F2E9E4; }
      }

}
