/* ROOT COLORS */
/* * {
    border: 2px solid gold;
} */
:root {
    --background: #C9ADA7;
    --secondary: #F2E9E4;
    --lines: #9A8C98;
    --spacecadet:#000000;
    --offwhite: #f0f8ff;
    --rosequartz: #9A8C98;
    --paledogwood: #C9ADA7;
    --isabelline: #F2E9E4;
}
#main-nav,
#footerContainer {
    background-color: var(--spacecadet);
}

.solid-line {
    background-color: var(--paledogwood);
    margin: 0 auto;
    height: 2px;
    width: 200px;
}
.mainPage {
    background-color: rgb(16, 16, 16);
}
.contactField {
    background-color: var(--secondary);
}
.showProject {
    background-color: #9A8C98 !important;
    color: var(--isabelline) !important;
    font-size: large !important;
}
.btn.showProject:hover {
    background-color: var(--spacecadet) !important;
    color: var(--paledogwood) !important;
}
.headers {
    color: var(--offwhite);
}

.scroll-down-txt {
    color:#C9ADA7;
    text-align: right;
    writing-mode: vertical-rl;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
    margin-bottom: 25px;
    border-left: 3px solid;
    font-size: 18px;

}
.scroll-down-txt svg {
    margin-right: 14px;
}
.scroll-down-txt:hover {
    cursor: pointer;
}

/* Intro Styling */

#icon {
    width: 100%;
}

#romina {
    color:#e8cdf6
}


#intro-container {
    margin-top: 50px;
    height: 100vh;
}

.intro-text {
    font-size: 20px;
    color: var(--offwhite);

}

.textalign-right {
    text-align: right;
}



@media (min-width: 992px) {

    #intro-container {
        margin-top: 200px;
        height: 100vh;
    }

}

@media (min-width: 1200px) {
    #icon {
        margin-top: -170px;
    }

}
