

@media (min-width: 1250px) {
  .navUL {
    font-size: 20px;
    margin-right: 100px;
  }
  
  #brand{
    font-size: 25px;
    padding: 0;
    margin-left: 100px;
  }

  }

#main-nav li {
  cursor: pointer;
}
