

@media (min-width: 1250px) {
  .navUL {
    /* font-size: 20px; */
    font-size: medium;
    margin-right: 100px;
  }
  
  #brand{
    /* font-size: 25px; */
    font-size: medium;
    padding: 0;
    margin-left: 100px;
  }

  }

#main-nav li {
  cursor: pointer;
}

.nav-item:nth-child(1) {
  margin-right: 100px;
}

.nav-item:nth-child(2) {
  margin-right: 100px;
}

.nav-item:nth-child(3) {
  margin-right: 100px;
}