

@media (min-width: 1250px) {
  .navUL {
    /* font-size: 20px; */
    font-size: medium;
    margin-right: 100px;
  }
  
  #brand{
    /* font-size: 25px; */
    font-size: medium;
    padding: 0;
    margin-left: 100px;
  }

  }
.navUL .nav-link,
.footer .nav-link,
#brand {
  font-size: large;
}

  #main-nav h3,
  #main-nav li {
  cursor: pointer;
}
#main-nav a,
#main-nav h3,
.footer .nav-link {
  color: var(--paledogwood);
}
#main-nav h3:hover,
#main-nav a:hover,
.footer .nav-link:hover {
  color: var(--isabelline);
}
button.navbar-toggler {
  color: var(--ultraviolet);
  background-color: var(--rosequartz);
}
/* .nav-item:nth-child(1) {
  margin-right: 100px;
}

.nav-item:nth-child(2) {
  margin-right: 100px;
}

.nav-item:nth-child(3) {
  margin-right: 100px;
} */