.projectTitle {
    font-size: 40px;
}
.projectType {
    font-size: 25px;
}

.project_Description {
    font-size: 20px;
}
.projectImg {
    background-color: grey;
    height: 250px;
    width: 400px;
}

.projects {
    margin-top: 100px;
    margin-bottom: 100px;
}

.dashed_line {
    margin-top: 100px;
    height: 2px;
    width: 200px;
    border-top: dashed 6px;
    color: lightgray;
}

@media (max-width: 991px) {
    .projectImg {
        margin-top: 20px;
        height: 200px;
        width: 350px;

    }
    .project_Description {
        margin-top: 20px;
    }
}