/* * {
  border: 1px solid gold;
} */

h1 {
  font-size: 60px;
}

/* Navigation Bar Styling */

nav {
  display: flex;
  background-color: lightgray;
  max-height: 50px;
  padding: 5px;
}

.navUL {
  display: flex;
  text-decoration: none;
  list-style: none;
  padding: 0;
  justify-content: space-around;
  font-size: 20px;
  margin: 10px auto;
}
li {
  padding: 0 80px;
}
